body {
  background-color: #E0E0E0;
}

h1 {
  font-family:lucida sans unicode, lucida sans, lucida grande, sans-serif; 
  text-align: center;
}

h2 {
  margin-left:0.5em; 
  font-family:lucida sans unicode, lucida sans, lucida grande, sans-serif; 
}

p { margin-left:1em; }

p.list {
  margin-left:1em;
  margin-top:0.5em;
}

ol {
  margin-left: 2em;
  margin-right: 1em;
}

.sans { font-family:lucida sans unicode, lucida sans, lucida grande, sans-serif; }

div.byline {
	margin-left: 1em;
	font-size: 9pt;
}

a.dt-published {
	text-decoration: none;
	color: grey;
}
a.p-author {
	text-decoration: none;
	color: grey;
}
h4.p-name {
	margin-bottom: 0.5em;
}
