body {
  background-color: #E0E0E0;
}

h1 {
  font-family:lucida sans unicode, lucida sans, lucida grande, sans-serif; 
  text-align: center;
}

h2 {
  margin-left:0.5em; 
  font-family:lucida sans unicode, lucida sans, lucida grande, sans-serif; 
}

p { margin-left:1em; }

p.list { margin-left:1em; margin-top:0.5em; }

p.body {
  text-indent: 1em;
  width: 120ex;
}

ol {
  margin-left: 3em;
}
.sans { font-family:lucida sans unicode, lucida sans, lucida grande, sans-serif; }

